{% extends 'login/layout.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block login %}
    <section class="page-login">
        <div class="login__area p-5">
            {{form_start(form)}}
                <div class="form-group">
                    <label for="usename">Username</label>
                    {# <input type="text" class="form-control" placeholder="Your username"> #}
                    {{form_widget(form.username)}}
                </div>
                <div class="form-group">
                    <label for="usename">Password</label>
                    {# <input type="password" class="form-control" placeholder="Your username"> #}
                    {{form_widget(form.password)}}
                </div>
                <div class="forger__pass text-right">
                    <span>Forget Password ?</span>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            {{form_end(form)}}
        </div>
    </section>    
{% endblock %}
